In [44]:
# ==================== PARÁMETROS ====================
TABLA_ORIGEN = 'autcuafa'
ESQUEMA_ORIGEN = 'modalidad_acceso'

TABLA_DESTINO = 'Act_AutorizacionCamUsoActTieFinAgrPrePri'
ESQUEMA_DESTINO = 'modalidad_acceso'
# ==================== PARÁMETROS ====================

In [45]:
import geopandas
import pandas as pd
from sqlalchemy import create_engine, inspect
from geoalchemy2 import Geometry

def obtener_informacion_tabla(cadena_conexion: str, tabla: str, esquema: str = 'public') -> pd.DataFrame:
    conexion = create_engine(cadena_conexion)
    inspector = inspect(conexion)
    informacion = inspector.get_columns(tabla, schema=esquema)
    return pd.DataFrame(informacion)

# Informacion de origen
informacion_origen  = obtener_informacion_tabla(
    'postgresql://postgres:ficticio@200.48.19.4:9006/forestal_pre',
    TABLA_ORIGEN,
    ESQUEMA_ORIGEN
)

informacion_destino = obtener_informacion_tabla(
    'postgresql://postgres:ficticio@200.48.19.4:9006/forestal_pre_actualizado',
    TABLA_DESTINO,
    ESQUEMA_DESTINO
)

columnas_origen = informacion_origen["name"].to_list()
columnas_destino = informacion_destino["name"].to_list()

columnas_origen_para_busqueda = [x.upper() for x in columnas_origen]

# Reemplazar valores comunes como gid y geom
columnas_origen_para_busqueda[columnas_origen_para_busqueda.index('GID')] = 'id'
columnas_origen_para_busqueda[columnas_origen_para_busqueda.index('GEOM')] = 'geom'

faltan_en_destino = list(set(columnas_origen_para_busqueda) - set(columnas_destino))
faltan_en_origen = list(set(columnas_destino) - set(columnas_origen_para_busqueda))

# regresar a nombres originales
for x in faltan_en_destino:
    if x.lower() in columnas_origen:
        faltan_en_destino[faltan_en_destino.index(x)] = x.lower()
    else:
        faltan_en_destino[faltan_en_destino.index(x)] = x

print('Columnas que faltarán en la tabla de destino:', faltan_en_destino)  
print('Columnas que no están en la tabla de origen:', faltan_en_origen)

Columnas que faltarán en la tabla de destino: ['resreg', 'proreg', 'coddoc', 'idper', 'fecmod', 'resmod', 'estreg', 'subtot', 'resmod_s', 'subtit']
Columnas que no están en la tabla de origen: ['SUPTOT', 'SUPTIT']

In [46]:
columnas_origen_coincidencia = list(set(columnas_origen) - set(faltan_en_destino))
columnas_origen_coincidencia.sort(key=lambda y: y.lower())

columnas_destino_coincidencia = list(set(columnas_destino) - set(faltan_en_origen))
columnas_destino_coincidencia.sort(key=lambda y: y.lower())

# Se crea dataframe con las columnas que coinciden
if len(columnas_origen_coincidencia) != len(columnas_destino_coincidencia):
    print('No coinciden las columnas')

# Se crea dataframe con las columnas que coinciden
coincidencias = pd.DataFrame(columns=['COLUMNA_ORIGEN', 'COLUMNA_DESTINO'])
coincidencias['COLUMNA_ORIGEN'] = columnas_origen_coincidencia
coincidencias['COLUMNA_DESTINO'] = columnas_destino_coincidencia

informacion_origen.sort_values(by='name', inplace=True, key=lambda y: y.str.lower())
informacion_destino.sort_values(by='name', inplace=True, key=lambda y: y.str.lower())

# Consultar nulos en origen
nulos_origen = (informacion_origen.loc[informacion_origen['name'].isin(columnas_origen_coincidencia)]['nullable']).to_list()
coincidencias['NULOS_ORIGEN'] = nulos_origen

# Consultar nulos en destino
nulos_destino = informacion_destino.loc[informacion_destino['name'].isin(columnas_destino_coincidencia)]['nullable'].to_list()
coincidencias['NULOS_DESTINO'] = nulos_destino

# Consultar tipos de origen
tipos_origen = informacion_origen.loc[informacion_origen['name'].isin(columnas_origen_coincidencia)]['type'].to_list()
coincidencias['TIPO_ORIGEN'] = tipos_origen

# Consultar tipos de destino
tipos_destino = informacion_destino.loc[informacion_destino['name'].isin(columnas_destino_coincidencia)]['type'].to_list()
coincidencias['TIPO_DESTINO'] = tipos_destino

# Verificar si los tipos son iguales y asignar SI/NO
tipos_iguales = []
for x in range(len(tipos_origen)):
    if str(tipos_origen[x]) == str(tipos_destino[x]):
        tipos_iguales.append('SI')
    else:
        tipos_iguales.append('NO')
coincidencias['IGUALDAD_TIPOS'] = tipos_iguales

# Verificar si los nulos son iguales y asignar SI/NO
nulos_iguales = []
for x in range(len(nulos_origen)):
    if nulos_origen[x] == nulos_destino[x]:
        nulos_iguales.append('SI')
    else:
        nulos_iguales.append('NO')
coincidencias['IGUALDAD_NULOS'] = nulos_iguales

coincidencias

,COLUMNA_ORIGEN,COLUMNA_DESTINO,NULOS_ORIGEN,NULOS_DESTINO,TIPO_ORIGEN,TIPO_DESTINO,IGUALDAD_TIPOS,IGUALDAD_NULOS
0,autfor,AUTFOR,True,False,SMALLINT,"NUMERIC(2, 0)",NO,NO
1,codcat,CODCAT,True,True,VARCHAR(15),VARCHAR(15),SI,SI
2,destin,DESTIN,True,False,SMALLINT,"NUMERIC(1, 0)",NO,NO
3,docleg,DOCLEG,True,False,VARCHAR(100),VARCHAR(100),SI,NO
4,docreg,DOCREG,True,False,VARCHAR(100),VARCHAR(100),SI,NO
5,doctit,DOCTIT,True,True,VARCHAR(100),VARCHAR(100),SI,SI
6,fecini,FECINI,True,False,DATE,DATE,SI,NO
7,fecleg,FECLEG,True,False,DATE,DATE,SI,NO
8,fecreg,FECREG,True,False,DATE,DATE,SI,NO
9,fecter,FECTER,True,False,DATE,DATE,SI,NO
10,fuente,FUENTE,True,False,VARCHAR(100),VARCHAR(100),SI,NO
11,geom,geom,True,False,"geometry(MULTIPOLYGON,32719)","geometry(POLYGON,32719)",NO,NO
12,gid,id,False,False,INTEGER,BIGINT,NO,SI
13,nomdep,NOMDEP,True,False,VARCHAR(2),VARCHAR(2),SI,NO
14,nomdis,NOMDIS,True,False,VARCHAR(150),VARCHAR(150),SI,NO
15,nompro,NOMPRO,True,False,VARCHAR(150),VARCHAR(150),SI,NO
16,nomrel,NOMREL,True,True,VARCHAR(255),VARCHAR(255),SI,SI
17,nomtit,NOMTIT,True,False,VARCHAR(255),VARCHAR(255),SI,NO
18,nrodoc,NRODOC,True,False,VARCHAR(10),VARCHAR(10),SI,NO
19,numaut,NUMAUT,True,False,VARCHAR(50),VARCHAR(50),SI,NO
20,numruc,NUMRUC,True,False,VARCHAR(11),VARCHAR(11),SI,NO
21,observ,OBSERV,True,True,VARCHAR(255),VARCHAR(255),SI,SI
22,origen,ORIGEN,True,False,"NUMERIC(1, 0)","NUMERIC(1, 0)",SI,NO
23,pago,PAGO,True,False,"NUMERIC(9, 3)","NUMERIC(9, 3)",SI,NO
24,sector,SECTOR,True,True,VARCHAR(100),VARCHAR(100),SI,SI
25,supres,SUPRES,True,True,"NUMERIC(10, 4)","NUMERIC(10, 4)",SI,SI
26,supsig,SUPSIG,True,False,"NUMERIC(10, 4)","NUMERIC(10, 4)",SI,NO
27,supsol,SUPSOL,True,True,"NUMERIC(10, 4)","NUMERIC(10, 4)",SI,SI
28,tipaut,TIPAUT,True,False,"NUMERIC(5, 0)","NUMERIC(5, 0)",SI,NO
29,tipdoc,TIPDOC,True,False,SMALLINT,"NUMERIC(1, 0)",NO,NO
30,volapr,VOLAPR,True,True,"NUMERIC(9, 3)","NUMERIC(9, 3)",SI,SI
31,zonutm,ZONUTM,True,False,"NUMERIC(2, 0)","NUMERIC(2, 0)",SI,NO