In [1]:
# ==================== PARÁMETROS ====================
ESQUEMA = 'modalidad_acceso'
TABLA = 'autcuafa'
# ==================== PARÁMETROS ====================

In [2]:
import geopandas
import pandas as pd
from sqlalchemy import create_engine, inspect
from geoalchemy2 import Geometry


engine = create_engine(f'postgresql://postgres:ficticio@200.48.19.4:9006/forestal_pre')

def get_sql_query(tabla: str, esquema: str = 'public') -> str:
    sql = f"SELECT * FROM {esquema}.{tabla}"
    return sql

inspector = inspect(engine)
columns = inspector.get_columns(TABLA, schema=ESQUEMA)
df_table = pd.DataFrame(columns)

In [3]:
df_table

,name,type,nullable,default,autoincrement,comment
0,gid,INTEGER,False,nextval('modalidad_acceso.autcuafa_id_seq'::re...,True,None
1,coddoc,VARCHAR(190),True,None,False,None
2,numaut,VARCHAR(50),True,None,False,None
3,nomtit,VARCHAR(255),True,None,False,None
4,nomrel,VARCHAR(255),True,None,False,None
5,numruc,VARCHAR(11),True,None,False,None
6,tipdoc,SMALLINT,True,None,False,None
7,nrodoc,VARCHAR(10),True,None,False,None
8,doctit,VARCHAR(100),True,None,False,None
9,codcat,VARCHAR(15),True,None,False,None
10,sector,VARCHAR(100),True,None,False,None
11,supsig,"NUMERIC(10, 4)",True,None,False,None
12,supsol,"NUMERIC(10, 4)",True,None,False,None
13,subtot,"NUMERIC(10, 4)",True,None,False,None
14,subtit,"NUMERIC(10, 4)",True,None,False,None
15,nomdep,VARCHAR(2),True,None,False,None
16,nompro,VARCHAR(150),True,None,False,None
17,nomdis,VARCHAR(150),True,None,False,None
18,autfor,SMALLINT,True,None,False,None
19,docleg,VARCHAR(100),True,None,False,None
20,fecleg,DATE,True,None,False,None
21,fecini,DATE,True,None,False,None
22,fecter,DATE,True,None,False,None
23,pago,"NUMERIC(9, 3)",True,None,False,None
24,volapr,"NUMERIC(9, 3)",True,None,False,None
25,supres,"NUMERIC(10, 4)",True,None,False,None
26,destin,SMALLINT,True,None,False,None
27,geom,"geometry(MULTIPOLYGON,32719)",True,None,False,None
28,proreg,VARCHAR(190),True,None,False,None
29,fecreg,DATE,True,('now'::text)::date,False,None
30,resreg,VARCHAR(190),True,None,False,None
31,fuente,VARCHAR(100),True,None,False,None
32,fecmod,TIMESTAMP,True,None,False,None
33,resmod,VARCHAR(190),True,None,False,None
34,resmod_s,VARCHAR(190),True,None,False,None
35,tipaut,"NUMERIC(5, 0)",True,None,False,None
36,docreg,VARCHAR(100),True,None,False,None
37,observ,VARCHAR(255),True,None,False,None
38,zonutm,"NUMERIC(2, 0)",True,None,False,None
39,origen,"NUMERIC(1, 0)",True,None,False,None
40,estreg,"NUMERIC(1, 0)",True,None,False,None
41,idper,"NUMERIC(1, 0)",True,None,False,None